.mermaid .label {
  text-align: center;
  word-wrap: break-word;
}

.mermaid .label div {
  white-space: normal !important;
  line-height: 1.2em;
}

.mermaid .result .label:hover div {
  text-decoration: underline;
}

.mermaid .edgeLabel {
  background: #0f0;
  color: #fff;
}

.result {
  cursor: pointer;
}
